<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/map.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="../static/js/map.js"></script>
    <title>Document</title>
</head>

<body>
    {{template "header"}}
    <h1>Google maps - Test</h1>

    <input type="text" id="address" value="Nantes, France">
    <input type="button" id="submit" value="Geocode">getLat&Long</button>

    <div id="map"></div>

    
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE7V4koSwqKCgcM7d1dHtm63ufUVHgpIA&callback=initMap&libraries=&v=weekly"></script>

</html>