<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goupie Tracker</title>
    <link href="../static/css/rep.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
</head>
<body>
    <div id="Card">
        <div id="TopCard">
            <img src="../static/img/logo.png" class="Logo">
        </div>


    <h1>Bienvenue sur Groupie Tracker</h1>
    <h2>Restez connecté!</h2>
    <h5>Vos artistes préférés près de chez vous!</h5>
    <p>Groupie Tracker à spécialement été pensé<br />
    pour permettre a nos utilisateurs de<br />
    rechercher facilement leur groupe de<br />
    musique préféré, leurs albums, et bien<br />
    plus encore! De plus, nos services permettent<br />
    d'outre passer les limites imposés par le covid!</p>
    <h2>Concerts, évènements, rencontres...</h2>
    <p>Hors confinement, vous pouvez grâce a ce<br />
        site vous organiser des soirées en <br />
        réservant des places pour un concert,<br />
        ou même des évènements que vos artistes<br />
        préférés souhaitent célébrer, <br />
        et plus encore!</p>
    
